# Ignorar archivos temporales del sistema
.DS_Store
Thumbs.db


# Ignorar directorios de dependencias
vendor/
node_modules/

# Ignorar archivos de IDE
.idea/
.vscode/

# Ignorar logs y archivos temporales
*.log
*.tmp
*.temp

# Ignorar cualquier archivo que empiece con "gitignore" y tenga .txt
gitignore*.txt

# Ignorar archivos que empiezan con guión bajo
_*

# Ignorar archivos de dump generados
*.dump
*.nodump